:host {
  display: flex;
  img {
    width: 83vw;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    position: absolute;
    opacity: 1;
  }

  .button-cupboard {
    width: 14vw;
    height: 19vw;
    top: 6vw;
    right: 24vw;
  }

  .button-door {
    right: 8vw;
    top: 2vw;
    width: 8vw;
    height: 36vw;
  }

  .button-window {
    top: 2vw;
    left: 43vw;
    width: 15vw;
    height: 19vw;
  }

  .button-corn {
    top: 31.5vw;
    right: 37.5vw;
    width: 3vw;
    height: 3.75vw;
  }

  .button-cookies {
    height: 6vw;
    top: 26vw;
    left: 54vw;
    width: 4vw;
  }

  .button-elastics {
    top: 35vw;
    left: 49vw;
  }

  .button-pot {
    left: 23vw;
    top: 20vw;
    width: 2.5vw;
    height: 2.5vw;
  }

  .button-tap {right: 14vw;
    top: 37vw;
  }

  .button-cups {
    top: 14vw;
    left: 11vw;
    width: 25vw;
    height: 32vw;
  }

  .button-empty-spot {
    top: 39vw;
    left: 40vw;
    width: 13vw;
    height: 6vw;
  }
}
