<img src="{{imageUrl}}" alt="kitchen-background">
<ng-container *ngIf="showKitchenActions">
  <button class="button-cupboard" (click)="showCupboard()"></button>
  <button class="button-window" (click)="showWindow()"></button>
  <button class="button-corn" (click)="openDialog.emit(ClickAction.KITCHEN_CORN)"></button>
  <button class="button-pot" (click)="openDialog.emit(ClickAction.KITCHEN_POT)"></button>
  <button class="button-elastics" (click)="openDialog.emit(ClickAction.KITCHEN_ELASTICS)"></button>
  <button class="button-cookies" (click)="openDialog.emit(ClickAction.KITCHEN_COOKIES)"></button>
  <button class="button-door" (click)="openDialog.emit(ClickAction.KITCHEN_DOOR)"></button>

  <button class="button-board" (click)="openDialog.emit(ClickAction.KITCHEN_BOARD)"></button>
  <button class="button-oven" (click)="openDialog.emit(ClickAction.KITCHEN_OVEN)"></button>
  <button class="button-carpet" (click)="openDialog.emit(ClickAction.KITCHEN_CARPET)"></button>
  <button class="button-ball" (click)="openDialog.emit(ClickAction.KITCHEN_BALL)"></button>
  <button class="button-plasters" (click)="openDialog.emit(ClickAction.KITCHEN_PLASTERS)"></button>
  <button class="button-calender" (click)="openDialog.emit(ClickAction.KITCHEN_CALENDER)"></button>
  <button class="button-garbage" (click)="openDialog.emit(ClickAction.KITCHEN_GARBAGE)"></button>
  <button class="button-sink" (click)="addSticker.emit(Sticker.SAK)"></button>
</ng-container>
<ng-container *ngIf="showCupboardActions">
  <tea-back-button (click)="showKitchen()"></tea-back-button>
  <button class="button-tap" (click)="addSticker.emit(Sticker.TAP)"></button>
  <button class="button-cups" (click)="openDialog.emit(ClickAction.KITCHEN_CUPS)"></button>
  <button class="button-empty-spot" (click)="onEmptySpotClicked()"></button>

</ng-container>
<ng-container *ngIf="showWindowActions">
  <tea-back-button (click)="showKitchen()"></tea-back-button>
  <button class="left-window" (click)="onLeftWindowClicked()"></button>
  <button class="right-window" (click)="openDialog.emit(ClickAction.KITCHEN_RIGHT_WINDOW)"></button>
</ng-container>
