@import "src/z-index";
:host {
  display: flex;

  img {
    width: 83vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;

    -webkit-animation: fadeIn 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn 3s; /* Firefox < 16 */
    -ms-animation: fadeIn 3s; /* Internet Explorer */
    -o-animation: fadeIn 3s; /* Opera < 12.1 */
    animation: fadeIn 3s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
