:host {
  display: flex;

  img, div {
    width: 83vw;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    -webkit-animation: fadeIn 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn 3s; /* Firefox < 16 */
    -ms-animation: fadeIn 3s; /* Internet Explorer */
    -o-animation: fadeIn 3s; /* Opera < 12.1 */
    animation: fadeIn 3s;
  }

  .black {
    background-color: black;
    -webkit-animation: fadeOut 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeOut 3s; /* Firefox < 16 */
    -ms-animation: fadeOut 3s; /* Internet Explorer */
    -o-animation: fadeOut 3s; /* Opera < 12.1 */
    animation: fadeOut 3s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
