@import "src/z-index";

.container {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #000000a3;
  width: 83vw;
  height: 47vw;
  position: absolute;
  top: 0;
  right: 8.5vw;
  z-index: $inventoryZIndex;
}

h1 {
  align-self: center;
}

.container-items {
  display: flex;
}

.item {
  width: 5vw;
  height: 5vw;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
