.notification {
  background-color: #000000b8;
  height: 25px;
  padding: 1rem 1rem 0.25rem;
  color: white;
  width: 45vw;
  position: absolute;
  bottom: 200px;
  text-align: center;
  right: 25vw;
  font-size: 12px;
  border-radius: 12px;
  opacity: 0;
  -webkit-animation: fadeInOut 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInOut 5s; /* Firefox < 16 */
  -ms-animation: fadeInOut 5s; /* Internet Explorer */
  -o-animation: fadeInOut 5s; /* Opera < 12.1 */
  animation: fadeInOut 5s;
}

@keyframes fadeInOut {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
