<tea-notification></tea-notification>
<tea-main-menu *ngIf="false"></tea-main-menu>
<tea-bagpack *ngIf="showKitchen" (bagpackChecked)="showInventory = !showInventory"></tea-bagpack>
<tea-inventory-panel *ngIf="showInventory" [items]="inventory"></tea-inventory-panel>
<tea-kitchen *ngIf="showKitchen" (openDialog)="openKitchenDialog($event)" (closeDialog)="isDialogOpen = false" (addSticker)="onAddSticker($event)"></tea-kitchen>
<tea-black-overlay *ngIf="showBlackOverlay && !showLastScene" [foundStickers]="foundStickers.length" [foundItems]="inventory.length" (lastScene)="showLastScene = true"></tea-black-overlay>
<tea-neighbor *ngIf="showLastScene"></tea-neighbor>
<tea-logo *ngIf="showLogo"></tea-logo>
<tea-dialog *ngIf="isDialogOpen" class="dialog" [dialog]="dialogue" (dialogEnded)="onDialogEnded()" [closeButtonText]="lastScene">Test</tea-dialog>
<tea-sticker [stickers]="foundStickers"></tea-sticker>
