@import "src/z-index";

:host {
display: flex;
  width: 100vw;
  height: 100vh;
}

.dialog {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}

tea-sticker {
  z-index: $stickersZIndex;
}

tea-dialog {
  z-index: $dialogZIndex;
}
