:host  {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 100%;
    height: 99vh;
  }

  h1 {
    position: absolute;
    margin-top: 0;
    opacity: 0;

    -webkit-animation: fadeInOut 10s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeInOut 10s; /* Firefox < 16 */
    -ms-animation: fadeInOut 10s; /* Internet Explorer */
    -o-animation: fadeInOut 10s; /* Opera < 12.1 */
    animation: fadeInOut 10s;
  }


  @keyframes fadeInOut {
    25% {
      opacity:1;
    }
    50% {
      opacity: 0;
    }
  }

  img {
    width: 100%;
    max-height: 99vh;

    opacity: 0;
    -webkit-animation: fadeInOutLogo 10s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeInOutLogo 10s; /* Firefox < 16 */
    -ms-animation: fadeInOutLogo 10s; /* Internet Explorer */
    -o-animation: fadeInOutLogo 10s; /* Opera < 12.1 */
    animation: fadeInOutLogo 10s;
  }

  @keyframes fadeInOutLogo {
    50% {
      opacity:0;
    }

    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
