:host {
  background-color: #c6f7f6;
  width: 100%;
  height: 100%;

  .container {
    display: flex;
    flex-direction: column;
    margin: 12rem auto 0 auto;
    width: 25vw;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    color: white;
    padding-bottom: 1rem;
    height: 25vh;
  }

  .title {
    font-family: 'Pacifico';
    font-size: 4rem;
    cursor: context-menu;
  }

  .button {
    background-color: transparent;
    width: max-content;
    color: white;
    font-size: 1.5rem;
    font-family: 'Pacifico';
    margin: 0 0 0.5rem 0;
    border: none;

    &:hover {
      margin-top: -1rem;
    }
  }
}
