@import "src/z-index";

:host {
  width: 83vw;
  height: 44vh;
  position: absolute;
  left: 8.5vw;
  top: 0;
  z-index: $blackOverlayZIndex;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  flex-direction: column;
  background-color: black;
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
