@import "src/z-index";

button {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  border-color: transparent;
  background-color: #ac2948;
  z-index: $backButtonZIndex;

  position: absolute;
  left: 9vw;
  top: 1vw;

  &:hover {
    background-color: #e0345d;
  }

  &:active {
    background-color: #ac2948;
  }

  &:focus {
    outline: 0;
  }
}
